/*****Main stylesheet******/

@font-face{
  font-family: Harabara;
  src: url("fonts/Harabara.ttf");
}


@font-face{
  font-family:'Source Sans Pro';
  src: url("fonts/SourceSansPro-Regular.ttf");
}


html, body { 
  height: 100%; width: 100%; margin: 0;
  top:0;bottom:0;left:0;right:0;z-index:0;
} 


body{
  background: url(images/bg.png);
  overflow:hidden; 
  font-family: 'Source Sans Pro', sans-serif;
  color: #555566;
  visibility: hidden;
  line-height:1.4em;
  margin:0;
  z-index:0;
  position:relative;
  top:0;
  bottom:0;
  left:0;
  right:0;
 }


h2{
  color: #99ceff;
  text-shadow:1px 1px 1px #007FDE;
  letter-spacing: 1px;
  font-family: Harabara;
  font-style:italic;
  font-size:1.75em;
}


a{
  color: #5ADE6B;
  font-weight:900;
 -webkit-transition: background-color 0.1s ease, color 0.1s ease;
 -moz-transition: background-color 0.1s ease, color 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease;
 -o-transition: background-color 0.1s ease, color 0.1s ease;
}


strong{
  color: #99ceff;
  text-shadow:1px 1px 1px #007FDE;
  font-size:1.1em;
}


b{
  text-shadow:1px 1px 1px #23ad35;
  color:#5ADE6B;
  cursor:default;
}



/**UI COMPONENTS**/



#mainWindow{
  width:100%;
  height:100%;
}


.atop{
  position:absolute;
  z-index:100;
}


.mov{
  transform:translate3d(0,0,0);
 -webkit-transform:translate3d(0,0,0);
 -webkit-transition: -webkit-transform 0.15s ease, height 0.2s ease;
 -moz-transition:    transform 0.15s ease, height 0.2s ease;
  transition:        transform 0.15s ease, height 0.2s ease;
 -o-transition:      transform 0.15s ease, height 0.2s ease;
}


.movd{
   transform:translate3d(-285px,0,0);
  -webkit-transform:translate3d(-285px,0,0);
}


.selectable{
 -webkit-touch-callout: text;
 -webkit-user-select: text;
 -moz-user-select: text;
 -ms-user-select: text;
  user-select: text;
}


.unselectable{
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}


::selection{
  background:rgba(110,235,110,0.7);
}


::-moz-selection{
  background:rgba(110,235,110,0.7);
}



/**Map container and widgets**/



#mapDiv {
  margin-bottom:1px;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  height:100%;
  position:absolute;
  left:0;
  top:0;
  width:100%;
}

/**Ensure svg container's z order**/
#mapDiv_gc{
  z-index:3;
}



/**Title**/
#appTitle{
  color: #99ceff;
  padding:10px 3px;
  text-shadow:1px 1px 1px #007FDE;
  text-decoration:none;
  font-family:Harabara;
  font-size:35px; 
  font-style:italic;
  top:-2px;
  right:10px;
  letter-spacing: 1px;
}


#appTitle:hover{
  color: #5ADE6B;
  text-shadow:1px 1px 1px #23ad35;
}


#appTitle:active{
  margin-top:1px;
}



/**Tools**/
.activeTool, .animationOn{
  box-shadow:0 0 12px 4px #99ceff !important;
  background-color:#a3d4f3;
}


#ident{
  background-image:url(images/ident.png);
  height:32px;
  width:32px;
  top:45px;
  right:78px;
  border-radius:14px;
}


#cros{
  height:32px;
  width:32px;
  top:45px;
  right:135px;
  border-radius:2px;
  background-image:url(images/graph.png);
}

#anim{
  height:32px;
  width:32px;
  top:45px;
  right:192px;
  border-radius:14px;
  background-image:url(images/play32.png);
}


#mea{
  background-image: url(images/ruler2.png);
  width:32px;
  height:32px;
  top:45px;
  right:25px;
  border-radius:2px;
}


#measur{
  z-index: 500;
  display:none;
  background-color:rgba(245,245,245,0.8);
  width:214px;
  height:120px;
  top:80px;
  right:18px;
  border-radius: 6px;
  border:1px solid;
  box-shadow:0px 2px 2px -1px #a5b6e0;
}


.animationImage{
  position:absolute;
  top:0;
  left:0;
  opacity:0;
}


.animationTransition{
  z-index:2;
 -webkit-transition: opacity 1s ease-in-out;
 -moz-transition:    opacity 1s ease-in-out;
  transition:        opacity 1s ease-in-out;
 -o-transition:      opacity 1s ease-in-out;
}


#toolOffMessage{
  padding:3px 7px 7px 7px;
  font-size: 0.875em;
  z-index:400;
  display:none;
  opacity:0;
  height:40px;
  width:120px;
  background-image:url(images/bg.png);
  border-radius: 6px;
  box-shadow: 1px 1px 1px 0 #b2b2b2,
              0 0 1px 1px #b2b2b2;
 -webkit-transition: opacity 0.1s ease;
 -moz-transition:    opacity 0.1s ease;
  transition:        opacity 0.1s ease;
 -o-transition:      opacity 0.1s ease;
}


.unclick{
  opacity:0.5;
  background-color:rgba(230,237,255,0.5);
  cursor:default
}


.clickable{
  background-color:rgba(230,237,255,0.8);
  opacity:1;
}


.clickable:hover{
  cursor:pointer;
  box-shadow: 0 1px 1px 0 #003793;
}


.clickable:active{
  margin-top:1px;
  box-shadow: 0 0 1px 0 #2d7bff;
}



/**Zoom Slider additions**/
#mapDiv_zoom_slider{
  left:10px;
  top:5px;
}


#fullExtentButton{
  background: url(images/globe.png) no-repeat;
  width:24px;
  height:24px;
  top:40px;
  left:14px;
  opacity:0.8;
  border-radius:15px;
}


#fullExtentButton:hover{
  cursor:pointer;
  opacity:1;
}


#fullExtentButton:active{
  top:41px;
}



/**Basemap switcher**/
#bmaps{
  bottom:10px;
  left:10px;
  width:150px;
}


.bmapspan{
  position:absolute;
  bottom:0;
  margin-bottom:-4px;
  margin-left:21px;
}


.bmap{
  position:relative;
  font-size:12px;
  font-weight:500;
  color:#fdfdfd;
  text-shadow:0 0 2px #333,
              0 0 2px #333;
  border-radius:2px;
  border:1px solid #888;
  box-shadow: 0px 1px 1px 0 #333,
             inset 0px 1px 1px 0px #eee;
}


.bmap:hover{
  cursor:pointer;
   box-shadow: 0px 1px 1px 0 #222,
             inset 0 1px 2px 0 #eff,
             inset 0 -1px 2px 0 #444;
}


.bmap:active{
  box-shadow: inset 0 1px 2px 0 #888,
              inset 0 -1px 1px 0 #ddd;
  border-top:none;
}


.currentbmap, .currentbmap:hover{
  box-shadow: inset 0 1px 2px 0 #888,
              inset 0 -1px 1px 0 #ddd;
}


#topo{
  background-image:url(images/topo60.png);
  float:left;
  width:60px;
  height:58px;
}


#sat{
  background-image:url(images/sat60.png);
  width:60px;
  height:58px;
  float:left;
  margin-left:6px;
}


#topo >.bmapspan{
  margin-left:17px;
}



/**Legend**/
.hiddenLegend{
  transform:translate3d(0,0,0);
 -webkit-transform:translate3d(0,0,0);
}


#legendWrapper{
  background-image:url(images/bg.png);
  width:250px;
  height:55px;
  bottom:70px;
  right:-255px;
  border-radius:4px;
 -webkit-transition: -webkit-transform 0.15s ease-out;
 -moz-transition:    transform 0.15s ease-out;
  transition:        transform 0.15s ease-out;
 -o-transition:      transform 0.15s ease-out;
}


#legend{
  width:250px;
  height:55px;
}


.legend{
  background-image:url(images/leg.png);
}



/**Time Slider Labels. Verbose, but allows for clean JS**/
#timeDiv {
  padding:1px 1px 1px 1px;
  bottom:16px;
  right:28px;
  background-color:rgba(0,0,0,0);
  font-size:0.875em;
  font-weight:bold;
  color: #333;
}

/**hide data outlines with time slider**/
.hiddenPath{
  visibility:hidden;
}


.labelCon{
  width:320px;
  bottom:40px;
  right:13px;
  position:absolute;
  font-size:1.2em;
  font-weight:900;
 -webkit-transition: all 0.1s ease;
 -moz-transition:    all 0.1s ease;
  transition:        all 0.1s ease;
 -o-transition:      all 0.1s ease;
}


.labelTouch{
  width:48px;
  margin:0;
  bottom:5px;
  right:3px;
}


.tsLabel{
  float:left;
  margin-right:7px;
  cursor:pointer;
  border-radius:2px;
  padding:2px 4px;
}


.tsLabel:nth-child(1){
  color:rgb(18,160,0);
}
.tsLabel:nth-child(2){
  color:rgb(221,4,178);
}
.tsLabel:nth-child(3){
  color:rgb(50,84,255);
}
.tsLabel:nth-child(4){
  color:rgb(255,0,0);
}
.tsLabel:nth-child(5){
  color:rgb(112, 84, 59);
}
.tsLabel:nth-child(6){
  color:rgb(25,25,35);
}


.tsHighlight:nth-child(1){
  background-color:rgb(18,160,0);
}
.tsHighlight:nth-child(2){
  background-color:rgb(221,4,178);
}
.tsHighlight:nth-child(3){
  background-color:rgb(50,84,255);
}
.tsHighlight:nth-child(4){
  background-color:rgb(255,0,0);
}
.tsHighlight:nth-child(5){
  background-color:rgb(112, 84, 59);
}
.tsHighlight:nth-child(6){
  background-color:rgb(25,25,35);
}


.satLabels>.tsLabel:nth-child(1){
  color:rgb(24, 211, 48);
}
.satLabels>.tsLabel:nth-child(2){
  color:rgb(252, 109, 224);
}
.satLabels>.tsLabel:nth-child(3){
  color:rgb(119, 173, 255);
}
.satLabels>.tsLabel:nth-child(4){
  color:rgb(243, 63, 51);
}
.satLabels>.tsLabel:nth-child(5){
  color:rgb(169,152,137);
}
.satLabels>.tsLabel:nth-child(6){
  color:#fff;
}


.satLabels>.tsHighlight:nth-child(1){
  background-color:rgb(24, 211, 48);
}
.satLabels>.tsHighlight:nth-child(2){
  background-color:rgb(252, 109, 224);
}
.satLabels>.tsHighlight:nth-child(3){
  background-color:rgb(119, 173, 255);
}
.satLabels>.tsHighlight:nth-child(4){
  background-color:rgb(243, 63, 51);
}
.satLabels>.tsHighlight:nth-child(5){
  background-color:rgb(169,152,137);
}
.satLabels>.tsHighlight:nth-child(6){
  background-color:rgb(25,25,35);
}


.tsLabel.tsHighlight,.satLabels>.tsLabel.tsHighlight{
  color:#fff;
}




/**Desktop top level layout**/
#lP{
  width:18%;
  box-shadow: 0px 2px 2px -1px #8ca2d7,
              inset 1px 0px 2px 0 #a5b6e0;
  margin-bottom:1px !important;
  min-width:250px;
  position:relative;
  height:100%;
}


#rP{
  background: url(images/bg.png);
  top:90px;
  right:0px;
  margin-right:-285px;
  width:302px;
  height:0px;
  overflow:hidden;
  z-index:99;
  box-shadow: 1px 0px 1px 0 #a5b6e0,
              inset 0 0px 1px 0 #a5b6e0,
             -1px 1px 2px 0px #a5b6e0;        
}


#closeRp{
  z-index: 300;
  background-image:url(images/bg.png);
  padding:15px 1px 1px 4px;
  border: solid 1px #a5b6e0;
  width:21px;
  top:43%;
  right:5px;
  cursor:default;
  height:32px;
  border-radius:2px;
  box-shadow: 1px 1px 1px 0 #a5b6e0,
             -1px 0px 1px 0 #a5b6e0;
}


#closeRp:hover{
   cursor:pointer;
   box-shadow: 1px 1px 2px 0 #728dcf,
              -1px 0px 2px 0 #728dcf,
               inset 0px 1px 1px 0 #f1f3fa;
}


#closeRp:active{
  padding:16px 1px 0 4px;
}


#arro{
  opacity:0.6;
  width: 16px;
  height: 16px;
  background-image:url('images/ui-icons_222222_256x240.png');
  background-position:-96px -16px;
}



/**Mobile top level layout**/
#dataView, #gridView{
  position:absolute;
  overflow:hidden;
  width:100%;
  height:50%;
  z-index:1000;
  bottom:-1px;
  right:100%;
  background: url(images/bg.png);
  box-shadow:0 0px 2px 0 #a5b6e0,
             inset 0 1px 1px 0 #eefdfe;
  transform:translate3d(0,0,0);
 -webkit-transform:translate3d(0,0,0);
 -webkit-transition: -webkit-transform 0.15s ease 0;
 -moz-transition:    transform 0.15s ease;
  transition:        transform 0.15s ease 0;
 -o-transition:      transform 0.15s ease;
}


#gridView{
  right:-100%;
}


#dataTab, #gridTab{
  height:80px;
  width:10%;
  overflow: hidden;
  line-height: 80px;
  background: url(images/bg.png);
  border-radius:2px;
  box-shadow: 1px 1px 1px 0 #a5b6e0,
             -1px 0px 1px 0 #a5b6e0;          
}


#dataTab{
  left:0;
}


#gridTab{
  right:0;
}


.sideways{
  font-size:20px;
 display:block;
 -ms-transform: rotate(-90deg);
 -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


.tabglow{
  box-shadow:0 0 8px 4px #99ceff !important;            
}



/**Grid Pane**/



#gridNode{
  height:100%;
  width:100%;
  border:none;
}


th{
  background-color:#f3f3f3;
  background-image:-webkit-linear-gradient(top, #E1EBFB,#f3f3f3);
  background-image:-moz-linear-gradient(top, #E1EBFB,#f3f3f3);
}


th:hover{
  background-color:#E1EBFB;
  background-image:-webkit-linear-gradient(top, #f3f3f3,#E1EBFB);
  background-image:-moz-linear-gradient(top, #f3f3f3,#E1EBFB);
}


th:active{
  background-color:#f3f3f3;
  background-image:-webkit-linear-gradient(top, #E1EBFB,#f3f3f3);
  background-image:-moz-linear-gradient(top, #E1EBFB,#f3f3f3);
}


.sortTarget{
  text-decoration:underline;
  font-size:17px;
}


.dgrid-column-OBJECTID,.dgrid-column-__Date,td[align=right],td[align=left],.hiddenr{
  display:none;
}
.dgrid-column-Name{
  width:35%;
}
.dgrid-column-Date{
  width:32%;
}
.dgrid-column-Editor{
  width:55px;
  margin-right:100px;
  background-color:inherit;
}


.gridToggle{
  position:relative;
  border-bottom:1px solid #eeeeff;
  background-color:rgba(240,240,255,0.4);
  text-overflow:ellipsis;
  white-space:nowrap;
}


.gridToggle:hover{
  background-color:#f3f3f3;
  background-image:-webkit-linear-gradient(top, #E1EBFB,#f3f3f3);
  background-image:-moz-linear-gradient(top, #E1EBFB,#f3f3f3);
}


.gridToggle:active{
  background-color:#E1EBFB;
  background-image:-webkit-linear-gradient(top, #f3f3f3,#E1EBFB);
  background-image:-moz-linear-gradient(top, #f3f3f3,#E1EBFB);
}


.gridToggle::after{
  content:'';
  display:block;
  background-image:url(images/add.png);
  width:16px;
  height:16px;
  position:absolute;
  top:8px;
  right:21px;
 -webkit-transition: -webkit-transform 0.15s ease-out;
 -moz-transition:    transform 0.15s ease-out;
  transition:        transform 0.15s ease-out;
 -o-transition:      transform 0.15s ease-out;
}


.gridToggleX{
  background-color:#f3f3f3;
  background-image:-webkit-linear-gradient(top, #E1EBFB,#f3f3f3);
  background-image:-moz-linear-gradient(top, #E1EBFB,#f3f3f3);
}


.gridToggleX::after{
 -webkit-transform:rotate(45deg);
 -ms-transform:rotate(45deg);
 -moz-transform:rotate(45deg);
  transform:rotate(45deg);
}


/**Grid row highlight colors**/
.highlmag{
  background-color:rgba(252,109,224,1);
}
.highlblu{
  background-color:rgba(119,173,255,1);
}
.highlgre{
  background-color:rgba(24,211,48,1);
}
.highlred{
  background-color:rgba(243,63,51,1);
}
.highlbro{
  background-color:rgba(112, 84, 59,1);
}

.highlmag > table,
.highlblu > table,
.highlgre > table,
.highlred > table,
.highlbro > table{
  background-color:rgba(255,255,255,0.4);
}


.highlmag .field-Image,
.highlblu .field-Image,
.highlgre .field-Image,
.highlred .field-Image,
.highlbro .field-Image{
  background-color:rgba(255,255,255,0.4);
}


.hiddenRow.dgrid-row, .hiddenGridToggle.dgrid-row{
  height:0;
  visibility:hidden;
  color:white;
 -webkit-transition: height 0.4s ease;
 -moz-transition:    height 0.4s ease;
  transition:        height 0.4s ease;
 -o-transition:      height 0.4s ease;
}


#lPSplitter{
  margin-right:-6px;
  margin-bottom:1px !important;
  box-shadow:0 1px 2px 0px #8ca2d7;
  width:6px;
  height:100%;
  background:#e1ebfb;
  position:absolute;
  right:0;
  top:0;
  z-index: 100;
}


#lPSplitter:hover{
  cursor:ew-resize;
}


#lPSplitter:active{
  background-color:#aaa;
}


.splitterThumb{
  overflow:hidden;
  position:absolute;
  top:48%;
  background:#b0b0b0 none;
  height:19px;
  left:2px;
  width:1px
}



/**Data/info pane**/



#dataCon{
  overflow-y:scroll;
  position:relative;
  height:100%;
 -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}


#dataNode{
  width:86%;
  margin-left:25px;
 -webkit-transition:opacity 0.15s ease;
 -moz-transition:    opacity 0.15s ease;
  transition:        opacity 0.15s ease;
 -o-transition:      opacity 0.15s ease;
}


.projectinfo{
  display:block;
  margin-bottom:10px;
}


#multiSelectWrapper{
    width:80%;
    margin:0 auto;
}


.multiSelect{
  display:inline-block;
  padding-left:10px;
  text-indent:-10px;
  margin-bottom:1px;
  cursor:pointer;
 }


.multiSelect:hover{
  border-bottom: 1px solid #a5b6e0;
  margin-bottom:0;
}


.multiSelect:active{
  margin:1px 0 -1px 0;
}


#downloadNode{
  display: none;
  padding:0 23px 5px 0;
 -webkit-transition: opacity 0.25s ease;
 -moz-transition:    opacity 0.25s ease;
  transition:        opacity 0.25s ease;
 -o-transition:      opacity 0.25s ease;
}


.downloadlink{
  margin-top:4px;
  float:right;
  font-size:0.9em;
  line-height: 1.2em;
  padding:0 1px 0 1px;
}


.downloadlink:hover{
  color:#fff;
  background-color:#5ADE6B;
}


.downloadlink:active{
  margin-top:5px;
}


#dlLink{
  margin-right:10px;
}


#dlTitle{
  margin-left:27px;
}


#infopane{
 -moz-box-sizing:border-box;
  box-sizing:border-box;
  background:url(images/bg.png);
  overflow-y:scroll;
  padding:3px 5px 0 25px;
  margin-top:3px;
  position:absolute;
  height:242px;
  width:100%;
  bottom:-210px;
 -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
 -webkit-transition: -webkit-transform 0.15s ease;
 -moz-transition:    transform 0.15s ease;
  transition:        transform 0.15s ease;
 -o-transition:      transform 0.15s ease;
}


#infoPaneTitle{
  font-size:1.5em;
  margin-bottom:0;
}


#foot{
 -webkit-transform:translate3d(0,0,0);
 -moz-box-sizing:border-box;
  transform:translate3d(0,0,0);
  box-sizing:border-box;
  margin:0;
  position:absolute;
  bottom:0;
  left:0;
  font-size:1em;
  height:32px;
  width:100%;
  white-space:nowrap;
  overflow:visible;
}


.footDiv{
 -moz-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block;
  vertical-align: top;
  border: 1px solid #a5b6e0;
  height:32px;
  padding:3px;
  width:33.3333333%;
  text-align:center;
  background-color:rgba(210,225,249,1);
  background-image:-webkit-linear-gradient(top, rgba(243,243,243,0.8), rgba(210,225,249,0.8));
  background-image:-moz-linear-gradient(top, rgba(243,243,243,0.8), rgba(210,225,249,0.8));
  cursor:default;
}


.footDiv:hover{
  cursor:pointer;
  background-image:-webkit-linear-gradient(top, #e1ebfb, #b4cdf5);
  background-image:-moz-linear-gradient(top, #e1ebfb, #b4cdf5);
  background-color:#b4cdf5;
}


.footDiv:active{
  background-color:rgba(243,243,243,1);
  background-image:-webkit-linear-gradient(top,#a0bce5,#f0f5fd);
  background-image:-moz-linear-gradient(top,#a0bce5,#f0f5fd);
  padding-top:4px;
}


.activeFoot,.activeFoot:hover{
  background-color:rgba(243,243,243,1);
  background-image:-webkit-linear-gradient(top,#a0bce5,#f0f5fd);
  background-image:-moz-linear-gradient(top,#a0bce5,#f0f5fd);
}


.helpglow{
  box-shadow:0 0 16px 6px #5ADE6B !important;
  background-color:#5ADE6B;             
}



/** Popup Module **/

#popUp{
position:absolute;
top:0px;
left:0px;
-webkit-transform:translate3d(10000px,10000px,0);
transform:translate3d(10000px,10000px,0);
height:400px;
width:600px;
z-index: 2000;
background-image:url(images/bg.png);
border-radius:2px;
box-shadow: 0 1px 2px 1px #a5b6e0,
            0px 0px 2px 0 #a5b6e0;
}


#popContainer{
  position:absolute;
  overflow-y:scroll;
  height:370px;
  width:593px;
  top:27px;
}


#popContainer>div{
  position:relative;
}


.export{
  font-size:15px;
  color:#5ADE6B;
  cursor:pointer;
  position:absolute;
  right:45px;
  text-decoration: underline;
  font-weight:600;
  top:3px;
  padding:0 2px 0 2px;
  line-height: 1.2em;
}


.export:hover{
  color:#fff;
  background-color:#5ADE6B;
}


.export:active{
  top:4px;
}


.dojoxLegendNode{
  position:absolute;
  top:33px;
  right:15px;
  font-size:14px;
}


.dojoxLegendText{
  margin-right:5px;
}


.dijitCheckBoxInput{
  margin-left:5px;
}


#popContainer strong{
  margin-top:-305px;
  position:absolute;
}


#popContainer >div >div>div:nth-last-child(2){
  text-shadow:1px 1px 1px #007FDE;
  letter-spacing: 1px;
}


.ie9noexport{
  position:absolute;
  left:-140px;
  top:25px;
  width:130px;
  font-weight:normal;
  color:#222;
  z-index:200;
  background-image:url(images/bg.png);
  padding:5px;
  border-radius:4px;
  box-shadow: 1px 1px 1px 0 #a5b6e0,
             -1px 0px 1px 0 #a5b6e0;
}


.panehead{
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  height:25px;
  width:100%;
  box-shadow: 0px 2px 2px -1px #a5b6e0;
 border-radius:2px 2px 0 0;
 background-color:#E1EBFB;
  background-image:-webkit-linear-gradient(top, #f3f3f3,#E1EBFB);
  background-image:-moz-linear-gradient(top, #f3f3f3,#E1EBFB);        
}


#popHeader{
  cursor:all-scroll;
  overflow:hidden;
}


#popHeader:active{
  background-color:#f3f3f3;
  background-image:-webkit-linear-gradient(top, #E1EBFB,#f3f3f3);
  background-image:-moz-linear-gradient(top, #E1EBFB,#f3f3f3);  
}


#popTitle{
  position:absolute;
  top:2px;
  left:4px;
  overflow:hidden;
}


.closebox{
  font-family:sans-serif;
  background: rgba(0,0,0,0) url(images/add24.png) no-repeat;
 -webkit-transform:rotate(45deg);
 -moz-transform:rotate(45deg);
 -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  width:24px;
  height:24px;
  font-size:22px;
  color:rgb(255,255,255);
  text-shadow: 1px 1px 1px #666;
  font-weight:900;
  position:absolute;
  top:0;
  right:13px;
  cursor:pointer;
  opacity:0.7;
}


.closebox:hover{
opacity:1;
}


.graphclose{
color:#f6f6f6;
padding:0;
}


#popSplitterV{
  position:absolute;
  right:0;
  top:0;
  height:100%;
  width:7px;
  background-color:#E1EBFB;
  border-radius:0 2px 2px 0;
  cursor:e-resize;
}


#popSplitterV:active{
  background-color:#B0B0B0;
}


#popSplitterH{
  position:absolute;
  bottom:0;
  left:0;
  height:7px;
  width:100%;
  background-color:#E1EBFB;
  border-radius:0 0 2px 2px;
  cursor:s-resize; 
}


#popSplitterH:active{
  background-color:#B0B0B0;
}


#popLineV{
  position:absolute;
  top:45%;
  height:10%;
  width:1px;
  left:3px;
  background-color:#B0B0B0;
}


#popLineH{
  position:absolute;
  top:3px;
  height:1px;
  width:10%;
  left:45%;
  background-color:#B0B0B0;
}


/**Identify Tool**/


.identDiv{
  background: url(images/bg.png) repeat;
  position:absolute;
  display:none;
  z-index: 400;
  padding:3px 8px;
  border-radius:2px;
  box-shadow: 0 1px 2px 1px #a5b6e0,
              0 0 2px 0 #a5b6e0;
}


.identEntry{
  display:block;
  font-size:15px;
  margin-left:8px;
}


.identValue{
  font-weight:600;
}




/* Stylesheets included by the API and various esri/dojo modules were inlined here by hand for
  performance reasons. This was a silly thing to do (since the files can be easily built together),
  but I have no compelling reasons to split the files apart again, just have to build them on release


  Many of the selectors are nasty, slow, or both. However, until these present noticable rendering
  issues, they are acceptable


  Includes changes made to override esri/dojo default styling

*/


/*TimeSlider and rangeslider*/
.dojoxRangeSlider .dijitSliderLeftBumper, .dojoxRangeSlider .dijitSliderBottomBumper {background:#FFFFFF !important;}.dojoxRangeSliderBarContainer {position:relative;}.dojoxRangeSlider .dijitSliderProgressBarV {position:relative !important;}.dojoxRangeSlider .dijitSliderProgressBar {overflow:hidden; cursor:pointer;}.dojoxRangeSlider .dijitSliderProgressBarV {position:absolute !important; border-width: 0px;}.dojoxRangeSlider .dijitSliderImageHandleH {left: -50%;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);}.dijitSlider .dojoxRangeSliderBarContainer .dijitSliderProgressBarH,.dojoxRangeSlider .dijitSliderMoveableH {right:auto !important;}


.esriTimeSlider {width:100%; z-index:999; position:relative;}.esriTimeSlider .ts {padding:10px 3px 3px 3px; margin:3px;}.esriTimeSlider .tsTicks {height:10px;margin-top:-16px;}.esriTimeSlider .tsLabels {font-size:.7em;margin-top:5px;}


.dijitSliderMoveable{
  outline:none;
}



/*dgrid*/
.dgrid {position: relative; overflow: hidden; border: 1px solid #ddd; height: 30em; display: block;}.dgrid-header {background-color: #eee; position: absolute; right: 17px; left: 0;}.dgrid-header-scroll {position: absolute; top: 0; right: 0;width:0;}.dgrid-footer {position: absolute; bottom: 0; width: 100%;}.dgrid-header-hidden,html.has-quirks .dgrid-header-hidden .dgrid-cell {font-size: 0; height: 0 !important; border-top: none !important; border-bottom: none !important; margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important;}.dgrid-sortable {cursor: pointer;}.dgrid-header, .dgrid-header-row, .dgrid-footer {overflow: hidden; background-color: #eee;}.dgrid-row-table {border-collapse: collapse; border: none; table-layout: fixed; empty-cells: show; width: 100%; height: 100%;}.dgrid-cell {padding: 0px; text-align: left; overflow: hidden; vertical-align: top; border: 1px solid #ddd; border-top-style: none; box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-box-sizing: border-box;}.dgrid-cell-padding {padding: 3px;}.dgrid-content {position: relative; height: 99%;}.dgrid-scroller {overflow-x: auto; overflow-y: scroll; position: absolute; top: 0px; margin-top: 25px; bottom: 0px; width: 100%;}.dgrid-loading {position: relative; height: 100%;}.dgrid-above {position: absolute; bottom: 0;}.ui-icon {width: 16px; height: 16px;background-image:url('images/ui-icons_222222_256x240.png');}.ui-icon-triangle-1-e {background-position: -32px -16px;}.ui-icon-triangle-1-se {background-position: -48px -16px;}.dgrid-expando-icon {width: 16px; height: 16px;}.dgrid-tree-container {-webkit-transition-duration: 0.3s; -moz-transition-duration: 0.3s; transition-duration: 0.3s; -o-transition-duration: 0.3s; transition-duration: 0.3s; overflow: hidden;}.dgrid-tree-container.dgrid-tree-resetting {-webkit-transition-duration: 0; -moz-transition-duration: 0; transition-duration: 0; -o-transition-duration: 0; transition-duration: 0;}.dgrid-sort-arrow {background-position: -64px -16px; display: block; float: right; margin: 0 4px 0 5px; height: 12px;}.dgrid-sort-up .dgrid-sort-arrow {background-position: 0px -16px;}.dgrid-selected {background-color: #bfd6eb;}.dgrid-input {width: 99%;}html.has-mozilla .dgrid *:focus, html.has-opera .dgrid *:focus {outline: 1px dotted;}html.has-ie-6-7.has-no-quirks .dgrid-row-table {width: auto;}html.has-quirks .dgrid-row-table, html.has-ie-6 .dgrid-row-table {height: auto;}html.has-quirks .dgrid-header-scroll,html.has-ie-6 .dgrid-header-scroll {font-size: 0;}html.has-mozilla .dgrid-focus {outline-offset: -1px;}.dgrid-scrollbar-measure {width: 100px; height: 100px; overflow: scroll; position: absolute; top: -9999px;}#dgrid-css-dgrid-loaded {display: none;}


.dgrid{
  font-size:1em;
  color:#686868;
  outline:none;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
  user-select: none;
}


.dgrid-scroller{
 -moz-box-sizing:border-box;
  box-sizing:border-box;
  height:100%;
  width:100%;
  outline:none;
}


.dgrid-scroller:active,.dgrid-content:active{
  background:none;
}


.dgrid-content,.dgrid-input{
  cursor:pointer;
}


.dgrid-cell{
  line-height:1.5em;
  text-overflow:ellipsis;
  white-space:nowrap;
  border-color:#eee;/*#cbd5ed*/
  border-bottom:1px solid #ddddff;
}


.dgrid-row{
  height:30px;
  visibility:visible;
  outline:none;
 -webkit-transition: height 0.2s ease-out;
 -moz-transition:    height 0.2s ease-out;
  transition:        height 0.2s ease-out;
 -o-transition:      height 0.2s ease-out;
}


.dgrid-sortable{
  text-overflow:clip;
}


.dgrid-input{
  margin-left:1%;
  background-color:inherit;
}


.dgrid-row-table:hover{
  cursor:pointer;
}


.dgrid-header tr{
  border-bottom:2px solid #eeeeff;
}



/*soria and its dijit deps, MUCH removed*/
.dijitToggleButtonIconChar {display:none !important;}.dijitButtonNode {border: 1px solid #8ba0bd; border-bottom:1px solid #657c9c; padding: 0.1em 0.2em 0.2em 0.2em; }.dijitOffScreen {position: absolute; left: 50%; top: -10000px;}.dijitInline {display:inline-block;border:0; padding:0; vertical-align:middle;}.dijitReset {margin:0; border:0; padding:0; line-height:normal; font: inherit; color: inherit;}.dijitLayoutContainer{position:relative;display:block;overflow:hidden}.dijitAlignTop,.dijitAlignBottom,.dijitAlignLeft,.dijitAlignRight{position:absolute;overflow:hidden}.dijitBorderContainer,.dijitBorderContainerNoGutter{position:relative;overflow:hidden}.dijitBorderContainerPane,.dijitBorderContainerNoGutterPane{position:absolute!important;z-index:2}.dijitGutter{position:absolute;font-size:1px}.dijitSliderMoveable{z-index:99;position:absolute!important;display:block;vertical-align:middle}.dijitSliderMoveableH{right:0}.dijitSliderMoveableV{right:50%}.dijitSliderImageHandle{position:relative!important;border:8px solid gray;width:0;height:0;cursor:pointer;margin:0;padding:0}.dijitSliderFocused.dijitSliderImageHandle{border:4px solid #000;height:8px;width:8px}.dijitSliderImageHandleH{left:50%;top:-5px;vertical-align:top}.dijitSliderBar{cursor:pointer;border-color:#000;border-style:solid}.dijitSliderBarContainerH{position:relative;z-index:1}.dijitSliderBarH{height:4px;border-width:1px 0}.dijitSliderProgressBar{background-color:red;z-index:1}.dijitSliderProgressBarH{position:absolute!important;width:0;vertical-align:middle;overflow:visible}.dijitSliderRemainingBar{overflow:hidden;background-color:transparent;z-index:1}.dijitSliderRemainingBarH{width:100%!important}.dijitSliderBumper{overflow:hidden;z-index:1}.dijitSliderBumperH{width:8px;height:4px;border-width:1px 0}.dijitSliderBottomBumper,.dijitSliderLeftBumper{background-color:red}.dijitSliderTopBumper,.dijitSliderRightBumper{background-color:transparent}.dijitSliderButton{font-family:monospace;display:block;margin:0;padding:0}.dijitSliderButtonContainer{text-align:center;height:0}.dijitSlider .dijitButtonNode{display:block;padding:0}.dijitRuleContainer{position:relative;overflow:visible}.dijitRuleMark{position:absolute;border:1px solid #000;line-height:0;height:100%}.dijitRuleMarkH{width:0;border-top-width:0!important;border-bottom-width:0!important;border-left-width:0!important}.dijitRuleLabelContainerH{text-align:center;display:inline-block;position:absolute}.dijitBorderContainer{background-color:#e1ebfb;padding:5px}.dijitSplitContainer-child,.dijitBorderContainer-child{border:1px #b1badf solid}.dijitBorderContainer-dijitBorderContainer{border:0;padding:0}.dijitSliderProgressBarH{background:#c0c2c5 url(images/sliderFull.png) repeat-x top left;border-color:#b1badf}.dijitSliderFocused .dijitSliderProgressBarH,.dijitSliderFocused .dijitSliderLeftBumper{background-image:url(images/sliderFullFocus.png)}.dijitSliderRemainingBarH{background:#dcdcdc url(images/sliderEmpty.png) repeat-x top left;border-color:#b4b4b4}.dijitSliderBar{outline:1px;border-style:solid}.dijitSliderImageHandleH{border:0;width:15px;height:18px;background:url(images/preciseSliderThumb.png) no-repeat center top}.dijitSliderFocused .dijitSliderImageHandleH{background-image:url(images/preciseSliderThumbFocus.png)}.dijitSliderLeftBumper{border-left-width:1px;background:#c0c2c5 url(images/sliderFull.png) repeat-x top left;border-color:#aab0bb}.dijitSliderRightBumper{background:#dcdcdc url(images/sliderEmpty.png) repeat-x top left;border-right-width:1px;border-color:#b4b4b4}.dijitSliderIncrementIconH{background: no-repeat -45px top;width:15px;height:15px}.dijitSliderDecrementIconH{width:15px;height:15px;background: no-repeat -15px top}.dijitSliderDecrementIconH{background: no-repeat 0 top}.dijitSliderButtonInner{visibility:hidden}.dijitSliderDecorationH{width:100%;text-align:center}.dijitBorderContainer-dijitContentPane{background-color:#fff;padding:5px}.dijitSliderFocused .dijitSliderBar{border-color:#8ba0bd}.dijitSliderIncrementIconH{background: no-repeat -30px top}



/*MeaTool*/
.dijitButtonText{text-align:center;padding:0 .3em}.dijitButtonContents{display:block;height:32px;width:16px;padding:0 8px;outline:0}.dijitStretch{white-space:nowrap;background-repeat:repeat-x}.dijitDisplayNone{display:none!important}.dijitPopup{position:absolute;background-color:transparent;margin:0;border:0;padding:0}.dj_ie9 .dijitMenuItemLabel{position:static}.dj_ie9 .dijitPopup .dijitMenuTable{overflow:visible!important}.dijitMenuItemHover,.dijitMenuItemSelected{background-color:#d9e6f9;color:#243c5f}.dijitMenuTable{border-collapse:collapse;border-width:0;background-color:white}.dj_webkit .dijitMenuTable td[colspan="2"]{border-right:hidden}.dijitMenuItem{text-align:left;white-space:nowrap;padding:.1em .2em;cursor:pointer}.dijitMenuItemIcon{background-repeat:no-repeat;width:15px;height:15px}.dijitArrowButtonChar{cursor:pointer;display:none}.dijitDownArrowButton{cursor:pointer;outline:0}.dijitMenuItemLabel{position:relative;vertical-align:middle}.unitDropDown{outline:0}.esriToggleButton{margin-left:-6px}.dijitContentPane.result{font-weight:600;font-size:18px}


.esriMeasurement {padding:8px;}.distanceIcon {background-image:url(images/Measure_Distance16.png); width:16px;height:16px;} .areaIcon {background-image:url(images/Measure_Area16.png); width:16px;height:16px;} .locationIcon {background-image:url(images/Measure_Point16.png);width:16px; height:16px;} .esriButton .dijitButtonNode {color: #666666 !important;height: 30px;width: 32px;vertical-align:middle;padding-top: 3px !important;padding-bottom:0;padding-left:0;padding-right:0;font-size:medium !important;border-color:none !important;border:none !important;background:none;}.esriButtonHover .dijitButtonNode {border-color:#a5beda !important;border: none !important;color:#000 !important;background:#fcfdff url(images/button-hover.png) repeat-x bottom !important;}.esriButtonActive .dijitButtonNode {background-color: white !important;color: black !important;border: none !important;background: #ededed url(images/button-active.png) no-repeat !important;}.esriButtonChecked .dijitButtonNode{background-color: white !important;color: black !important;border: none;background: #ededed url(images/button-active.png) bottom repeat-x !important;}.esriToggleButton .dijitButtonNode {color: black !important;height: 30px;width: 28px;vertical-align:middle;font-size:40px;padding-top: 3px !important;padding-bottom:0;padding-left:0;padding-right:0;font-size:medium !important;border-color:none !important;border:none !important;background:none;}.esriToggleButtonDisabled .dijitButtonNode {color:red;}.esriUnitButton .dijitButtonText{font-size:16px !important;}.resultLabel {margin-top:10px;margin-bottom:5px;border-bottom: thin solid rgb(51, 51, 51);}.result {padding:5px;}.unitDropDown {}


.dijitInline.dijitReset.dijitButtonText:after{
  content:"  \25BC";
  color:#555a6e;
}



/*Crosstool graph tooltip*/
.dijitTooltip {
   position: absolute;
   z-index: 2000;
   display: block;
   left: 0;
   top: -10000px;
   overflow: visible;
}


.dijitTooltipContainer{
    background-color: #f0f5fd;
    border:1px solid #cbcbcb;
    padding:0 0.4em;
    width:32px;
    font-size:small;
}


.dijitTooltip iframe{
  display:none;
}



/*Scalebar*/
.scalebar_top-left{left: 10px; top: 10px;}.scalebar_top-center{left: 50%; top: 10px;}.scalebar_top-right{right: 30px; top: 10px;}.scalebar_bottom-left{left: 25px; bottom: 18px;}.scalebar_bottom-center{left: 50%; bottom: 18px;}.scalebar_bottom-right{right: 100px; bottom: 18px;}.esriScalebar{z-index:30;position: absolute; width: 0px; height:10px;}.esriScalebarRuler{overflow:hidden;position: relative; width: 100%; height:6px; background-color: White; border:1px solid #444444;}.scaleLabelDiv{position: relative; width: 100%; height:5px;}.esriScalebarRulerBlock{overflow:hidden;position: absolute; height:50%; background-color: #444444;}.upper_firstpiece{top:0%;left: 0%; width: 25%;}.upper_secondpiece{top:0%;left: 50%; width: 25%;}.lower_firstpiece{top:50%;left: 25%; width: 25%;}.lower_secondpiece{top:50%;left: 75%; width: 30%;}.esriScalebarLabel{font-size:11px;position: absolute; width:10%;text-align:center;font:Verdana; font-weight:bolder;}.esriScalebarFirstNumber{left:45%;}.esriScalebarSecondNumber{left:95%;}


.esriScalebar{
  margin-left:131px;
  margin-bottom:-10px;
  color: #444;
}


.esriScalebarLabel{
  margin-top:-28px;
  font-family:'Source Sans Pro';
  font-size:0.75em;
  font-weight:bold;
}


.whiteScaleLabels{
  color:#fff;
}



/*esri blanket map css*/
.map { overflow:hidden; }
.map .container { position:relative; border:none; padding:0px; margin:0px; left:0px; top:0px; overflow:hidden; width:100%; height:100%; }
.map .container .layersDiv { position:relative; left:0px; top:0px; width:100%; height:100%; }
.map .container .layersDiv .layerTile { position:absolute; border:none; margin:0px; padding:0px; }



/*zoom button customization*/
.esriControlsBR { 
  display:none;
  position: absolute; 
  right: 5px; 
  bottom: 5px; 
  z-index: 30; 
}


.esriSimpleSlider {
  position: absolute;
  left: 10px; top: 10px; 
  text-align: center; 
  border: 1px solid #666666; 
  background-color: #FFFFFF; 
  color: #666666; 
  cursor: pointer; 
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
}


.esriSimpleSlider > div {
  width: 30px;
  height: 30px;
  font-size: 25px;
  font-family: verdana,helvetica;
  font-weight: bold;
  line-height: 25px;
}


.esriSimpleSliderIncrementButton:hover,.esriSimpleSliderDecrementButton:hover{
  color:#050505;
}


.esriSimpleSliderIncrementButton:active,.esriSimpleSliderDecrementButton:active{
  padding-top:1px;
  height:29px;
}


.esriSimpleSliderDecrementButton{
  margin-top:30px;
  border-top:1px solid #666;
}


.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
  border-bottom: 1px solid #666666;
}